{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" type=text/css href="{% static 'bootstrap/css/custom.css' %}">







    <title>ChalChitra | {%block title%} {%endblock title%}</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ChalChitra </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <form class="d-flex mx-auto">
                    <input class="form-control me-2" type="search" placeholder="Search Movies Here."
                        aria-label="Search">
                </form>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown" href="#" id="n" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Genre
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Crime Thriller</a></li>
                            <li><a class="dropdown-item" href="#">Romantic</a></li>
                            <li><a class="dropdown-item" href="#">Action</a></li>

                            <li><a class="dropdown-item" href="#">Marvel and DC Universe</a></li>
                        </ul>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown" href="#" id="na" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Trending
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">BATMAN</a></li>
                            <li><a class="dropdown-item" href="#">Hacker</a></li>
                            <li><a class="dropdown-item" href="#">Paley Dai</a></li>
                            <li><a class="dropdown-item" href="#">Hell yeah!</a></li>
                        </ul>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown" href="#" id="na" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Top Rated
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Peaky Blinders</a></li>
                            <li><a class="dropdown-item" href="#">Prison Break</a></li>
                            <li><a class="dropdown-item" href="#">Pulp Fiction</a></li>
                            <li><a class="dropdown-item" href="#">Avengerd Endgame</a></li>
                        </ul>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown" href="#" id="a" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Popular
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Wednesday</a></li>
                            <li><a class="dropdown-item" href="#">BATMAN</a></li>
                            <li><a class="dropdown-item" href="#">The Boys</a></li>
                            <li><a class="dropdown-item" href="#">Haha Women</a></li>
                        </ul>


            </div>
        </div>
    </nav>






  


    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {%block content%}{%endblock content%}
   

</body>

</html>